/*HTML Specification*/
html, body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #efefef;	
}

h1, h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
}
a {
	text-decoration: none;
	font-size: 18px;
}

h1 {
	font-size: 32px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

h2 {
	font-size: 20px;
}

/* --------------------------------------------- */

/* HEADER */
header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;

}
.headwrap{
	width:100%;
	margin: 0 auto;
}
 .container {
	width: 960px;
	margin: 0 auto;
}


/*Navigation header section*/
.name {
	width: 50%;
	margin-left: 10%;
}

.logo {	
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 1em;
	width: auto;
}

.name, .nav {  	
	display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.nav {
	width: 49%;
	text-align: right;
	color: #b1adb3;
	font-weight: normal;
}

.nav ul li {
	display: inline-block;
	padding-left: 1em;
	margin-left: 1em;
}

.nav ul li a {
	color: #b1adb3;
	text-decoration: none;
	-webkit-transition: color .4s;
	transition: color .4s;
}

.nav ul li a:hover {
	color: #4aaaa5;
}

/* main body and contents */

.crux{
	width: 960px;
	clear: both;
	margin: 0 auto 6em auto;	
}

.top{
    display: inline-block;	
	margin: 40px 0 40px 0;
	padding: 40px;
	background-color: #ffffff;
	border: 1px solid #dddddd;	   
}

/*PAGE 3 CONTACTS*/

label{
	display: block;
	float:left;
	padding-bottom: 2%;
}

input,  textarea {
	width: 100%;
	border: 1px solid #cccccc;
	margin-bottom: 16px;
	padding: 1em 0 1em 0;
	font-size: .9em;
}

input[type="submit"] {
	width: auto;
	background-color: #4aaaa5;
	color: white;
	border: none;
	padding: 18px 24px;
	font-size: 18px; 
}

/*PAGE 1 INDEX*/
img.headshot {
	float: left;
	padding: 0 1em 1em 0;
	width: 150px;
	height: auto;
}

/*page 2 portfolio*/
.image-name{
	float:left;	
	height:auto;
	position:relative;
	width: 40%;
	margin:10px;	
}

.image-name:nth-child(even) {
	margin-left: 25px;
}

.image-name:hover {
	-ms-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);	
}

.portfolio-image{
	position:relative;
	width:100%;
	height:250px;
	z-index: 1;
}
.portfolio-name{
	color:white;
	position:absolute;
	z-index: 2;	
	bottom:3%;
	width: 100%;	
	margin-top: 120px;
	padding: 5px 0;
	background-color: #4aaaa5;
	text-align: center;
}


/* FOOTER */
footer {	
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 36px;
	text-align: center;
	font-size: 12px;
	color: #cccccc;
	background-color: #666666;
	border-top: 7px solid #4aaaa5;
}

/* ---------------------Media Query--------------------- */
@media screen and (max-width: 980px){
	.headwrap, .container{
		width:100%;
	}	
	header.nav{
		position:fixed;
		z-index:99;
		width:100%;
		margin-top:0 0 20px;
		overflow:auto;
	}
	.crux, .top{
		max-width:90%;
	}
	article{
		overflow:auto;
		margin: 0 20px;		
	}	
}

@media screen and (max-width: 768px){
	
	header, .crux, .headwrap, header.container{
		width:100%;
	}
	header.nav, {
		position:fixed;
		z-index:99;
		width:100%;
		margin-top:0 0 20px;
		overflow:auto;
	}
	article{
		overflow:auto;
		margin: 0 10px;
	}
	img.headshot{
		width: 50%;
	}
	
	.top{
		max-width: 100%
	}
}

@media only screen and (max-width: 640px){
	.headwrap, .container{
		width:100%;		
		overflow:none;	
	}
	.container{
		margin-bottom: 10px;
	}
	.name, .logo{
		width:100%;
		text-align:center;
	}
	.logo{
		margin:0;
		overflow: hidden;
	}	
	.nav{
		width:100%;
		margin:12px 0;
		text-align: center;
	}
	header .container{
		padding:0;
	}	
	header, .crux{
		width:100%;
	}
	img.headshot{
		width: 100%;
	}
	article{
		margin:0;
	}
	.textarea{
		font-size: 20px;
	}
	.image-name{
		width:80%;		
	}
	/* to main the images in-line*/
	.image-name:nth-child(odd) {
		margin-left: 0px;
	}
	.image-name:nth-child(even) {
		margin-left: 0px;
	}
}

/*sticky Footer*/
body {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  }
  .content {
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding-bottom: 20px;
  }
  .footer {
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 20px;
  }
